body{
    background-color: azure;
    /* background-image: url('https://wallpaperaccess.com/full/788673.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    }